<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-WT1V1LJJBJ"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-WT1V1LJJBJ');
</script>
  <title><%- blogTitle %></title>
  <title>Dark Mode</title>
    <script src=
"https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js">
    </script>
     
    <style>
        .mode {
            float:right;
        }
        .change {
            cursor: pointer;
            border: 1px solid #555;
            border-radius: 40%;
            width: 20px;
            text-align: center;
            padding: 5px;
            margin-left: 8px;
        }
        .dark{
            background-color: #222;
            color: #e6e6e6;
        }
    </style>
    
  <meta charset="UTF-8" />
  <title><%- blogTitle %></title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link rel="shortcut icon" href="../assets/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="../src/scss/init.scss">
  <link rel="stylesheet" href="../src/scss/index.scss">

  <style>
    .tab {
    display: inline-block;
    margin-left: 40px;
      }
  </style>


</head>


</style>

<body>
  <div class="mode">
    Dark mode:            
    <span class="change">OFF</span>
</div>
 
<script>
    $( ".change" ).on("click", function() {
        if( $( "body" ).hasClass( "dark" )) {
            $( "body" ).removeClass( "dark" );
            $( ".change" ).text( "OFF" );
        } else {
            $( "body" ).addClass( "dark" );
            $( ".change" ).text( "ON" );
        }
    });
</script>
  <header id="top-container" role="navigation">
  </header>

  <main id="main-container">
    <p>Hey, there. I have created this page as an all-in-one resource to pull through 3rd year of University. :p. <br>This website is a collection of notes, timetables, schedule of current deadlines/assignments and events(if any applicable).<br>
      Let me know via Whatsapp if you have any suggestion or queries. <br>
      <br><u>You can find 3 directories at the top-most of the webpage namely:</u> </p>
      <ul>
        <li><u><a href="/about.html"><b>About Me</b></a></u></li>
        <li><u><a href="/articles.html"><b>Notes</b></a></u>
          <ul>
            <span class="tab"><li>Class Notes</li>
            </ul>
        </li>
        <li><u><a href="/works.html"><b>Miscellaneous</b></a></a>
          <ul>
            <span class="tab"><li>Current deadlines/Assignments</li>
            <li>Batch-Wise Timetable</li>
            
          </ul>
        </li>
      </ul> <br> <br>

      <marquee bgcolor="red" behavior="slide" direction="left"><b><h3>IMPORTANT ANNOUNCEMENTS</h3></b></marquee>
      <br>
      <ul style="list-style-type:square;">
        <li>In view of UGC visit, <b>classes on Saturday 21st & Sunday 22nd August 2021</b>,<br> The university will run with Friday's timetable on Saturday and Saturday's timetable on Sunday. </li>
        <li>Upcoming post-test on August 20th and 21st. Refer this <a href="/work/1.html"><u><b> link.</b></u></a> </li>
      </ul>
      <br>      
      
</body>
</html>
   
  </main>

  <script defer src="../src/ts/init.ts"></script>
</body>

</html>
